node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# IDE
.vscode

# Dev build
ios
ios-dev-build
ios-prod
android
# Generated AltStore/SideStore source (built in CI)
public/source.json
